<div class="container">
    <div class="container-fluid">
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of cadastros; track option) {
            <mat-option [value]="option.esposa_nome">{{option.esposo_nome}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>
</div>
</div>